<div class="bottom-panel-header">
    <span class="bottom-panel-header-content">{{yield "header"}}</span>
    <span class="bottom-panel-header-options">
        <a href="#" {{action "close"}}>Close</a>
    </span>
</div>
<div class="bottom-panel-content">
    {{yield "body"}}
</div>
